In [1]:
# Standard data science libraries
import pandas as pd
import copy
import numpy as np
from datetime import datetime
from sklearn.impute import SimpleImputer
# Visualization
import seaborn as sns
sns.set()
import matplotlib
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import plotly.express as px
from countrygroups import EUROPEAN_UNION
import re
import os.path 
%matplotlib inline
import pycountry
from googletrans import Translator
import glob
import geopy

In [2]:
import locale
locale.setlocale(locale.LC_ALL, 'en_US')
EU_countries = EUROPEAN_UNION.names
path = "C:/Users/yacco/Documents/TUM/Applied Machine Learning/group16/Tripadvisor_web_scraper/Updated Datasets/*.csv"

In [19]:
def get_file(path):
    file_names = []
    data = pd.DataFrame()
    names = glob.glob(path)
    for i in range (len(names)): 
        df = pd.read_csv(names[i],header=0, squeeze=True)
        file_name = os.path.basename(names[i])
        file_name = file_name.split('.')[0]
        file_names.append(file_name)
        visitors_by_country, type_of_visitors, visitors_by_city = feature_extraction(df, file_name)
        visitors_by_country = eu_countries (visitors_by_country)
        visitors_from_munich, visitors_outside_munich, visitors_outside_eu, visitors_from_eu = get_visitors(visitors_by_country, visitors_by_city)
        type_of_visitors['visitors_from_munich'] = visitors_from_munich
        type_of_visitors['visitors_outside_munich'] = visitors_outside_munich
        type_of_visitors['visitors_outside_eu'] = visitors_outside_eu
        type_of_visitors['visitors_from_eu'] = visitors_from_eu
        type_of_visitors['attraction_name'] = file_name
        data = data.append(type_of_visitors)
        

        print(i)
    data.reset_index()
    data.set_index('attraction_name' , inplace=True)
    data[['Traveled on business' , 'Traveled solo' , 'Traveled with friends' , 'Traveled as a couple' , 'Traveled with family'  ]] = data[['Traveled on business' , 'Traveled solo' , 'Traveled with friends' , 'Traveled as a couple' , 'Traveled with family'  ]].div(data[['Traveled on business' , 'Traveled solo' , 'Traveled with friends' , 'Traveled as a couple' , 'Traveled with family' ]].sum(axis=1), axis=0)
    data[['visitors_from_munich' , 'visitors_outside_munich' , 'visitors_outside_eu' , 'visitors_from_eu']] =  data[['visitors_from_munich' , 'visitors_outside_munich' , 'visitors_outside_eu' , 'visitors_from_eu']].div(data[['visitors_from_munich' , 'visitors_outside_munich' , 'visitors_outside_eu' , 'visitors_from_eu']].sum(axis=1), axis=0)
    data.to_csv('k_means_data.csv')  
    
    return data

data= get_file(path)

0
1
2
3
4
5
6
7
8
9
10
11

In [20]:
data

,Traveled on business,Traveled solo,Traveled with friends,Traveled as a couple,Traveled with family,visitors_from_munich,visitors_outside_munich,visitors_outside_eu,visitors_from_eu
attraction_name,,,,,,,,,
Allianz Arena,0.044271,0.072917,0.239583,0.244792,0.398438,0.046316,0.147368,0.376842,0.429474
Alte_Pinakothek,0.039130,0.195652,0.204348,0.365217,0.195652,0.083916,0.118881,0.496503,0.300699
BMW Museum,0.072100,0.115987,0.216301,0.366771,0.228840,0.043038,0.027848,0.612658,0.316456
Deutsches_Museum,0.028777,0.071942,0.179856,0.258993,0.460432,0.079070,0.186047,0.348837,0.386047
English Garden,0.014286,0.097143,0.205714,0.408571,0.274286,0.077863,0.119084,0.416794,0.386260
Marienplatz,0.065401,0.088608,0.223629,0.405063,0.217300,0.033632,0.073991,0.528027,0.364350
Munich Residenz,0.017751,0.100592,0.198225,0.449704,0.233728,0.031513,0.067227,0.483193,0.418067
New_Town_Hall,0.015152,0.196970,0.196970,0.363636,0.227273,0.010204,0.061224,0.556122,0.372449
Nymphenburg Palace,0.015625,0.112500,0.196875,0.431250,0.243750,0.048626,0.080338,0.511628,0.359408
Olympiapark,0.034014,0.085034,0.200680,0.387755,0.292517,0.040431,0.156334,0.423181,0.380054
St,0.017699,0.150442,0.141593,0.433628,0.256637,0.024510,0.053922,0.583333,0.338235
Viktualienmarkt,0.030769,0.102564,0.205128,0.451282,0.210256,0.030405,0.131757,0.489865,0.347973

In [ ]:
file_name = os.path.basename("C:/Users/yacco/Documents/TUM/Applied Machine Learning/group16/Tripadvisor_web_scraper/Updated Datasets/Allianz Arena.csv")
file_name = file_name.split('.')[0]
type_of_visitors

In [ ]:
type_of_visitors

In [3]:
def preprocessing(df):
    df['date'] = df['date'].replace({'Date of experience: ': ''}, regex=True)
    df['visit'] = df['visit'].replace({'Trip type: ': ''}, regex=True)
    df['date']= [datetime.strptime(date, '%B %Y')for date in df['date']]
    df = df.sort_values(by='date', ascending=False, inplace=False, ignore_index=True)
    df = df.set_index('date')

    return df

In [4]:
def clustering_process(df):
    df[['city', 'country', 'extra']] = df['visitor_origin'].str.split(', ', expand=True, n=2)
    df = df.drop(['rating','title','text'], axis=1)
    return df

In [5]:
def feature_extraction(df, file_name):
    df = preprocessing(df)
    df = clustering_process(df)
    visitors_by_country = df.groupby('country').count().sort_values('visit', ascending=True)
    type_of_visitors    = df.groupby('visit').count().sort_values('country', ascending=True)
    type_of_visitors    = type_of_visitors.T.drop(index=['city', 'country' , 'extra'])
    visitors_by_city    = df.groupby('city').count().sort_values('visit', ascending=True)
    type_of_visitors.index.rename(file_name)
    return visitors_by_country, type_of_visitors, visitors_by_city

In [6]:
def eu_countries(visitors_by_country): 
    visitors_by_country["Non EU"] = 0
    for i in range (len(visitors_by_country)):
        if not(visitors_by_country.index[i] in EU_countries):
            visitors_by_country["Non EU"][i] = int(1)
    return visitors_by_country

In [7]:
def get_visitors(visitors_by_country, visitors_by_city):
    
    visitors_from_munich    = visitors_by_city['visitor_origin']['Munich']
    visitors_outside_munich = visitors_by_country['visitor_origin']['Germany']- visitors_by_city['visitor_origin']['Munich']
    visitors_outside_eu     = visitors_by_country.groupby('Non EU').sum()['visitor_origin'][1]
    visitors_from_eu        = visitors_by_country.groupby('Non EU').sum()['visitor_origin'][0] - visitors_by_country['visitor_origin']['Germany']
    return visitors_from_munich, visitors_outside_munich, visitors_outside_eu, visitors_from_eu

In [ ]:
file_path = glob.glob('/Users/yacco/Documents/TUM/Applied Machine Learning/group16/Tripadvisor_web_scraper/Preprocessed Datasets/*.csv')

In [31]:
Englischer_Garten = pd.read_csv('English Garden.csv',  header=0, squeeze=True)
visitors_by_country, type_of_visitors, visitors_by_city = feature_extraction(Englischer_Garten)
visitors_by_country = eu_countries (visitors_by_country)
visitors_from_munich, visitors_outside_munich, visitors_outside_eu, visitors_from_eu = get_visitors(visitors_by_country, visitors_by_city)

TypeError: feature_extraction() missing 1 required positional argument: 'file_name'

In [34]:
Englischer_Garten = pd.read_csv('English Garden.csv',  header=0, squeeze=True)
Englischer_Garten = preprocessing(Englischer_Garten)
Englischer_Garten

,title,text,rating,visitor_origin,visit
date,,,,,
2020-08-01,Great open space,Fantastic huge park in the city we had a great...,50,"Kinross, United Kingdom",NaN
2020-08-01,Skuffende,Når man kommer fra vandring i smukke og rene G...,30,"Frederiksberg, Denmark",NaN
2020-08-01,Magnifiques jardins,Magnifique (et immense) jardin à visiter par b...,50,"Ermenonville, France",Traveled solo
2020-08-01,Biergarten,Naast lekker wandelen door het park kun je er ...,40,"Eindhoven, The Netherlands",Traveled as a couple
2020-08-01,Skuffende,Når man kommer fra vandring i smukke og rene G...,30,"Frederiksberg, Denmark",Traveled as a couple
...,...,...,...,...,...
2018-09-01,Natureza e contemplação Vá de Bike Viu!!!,Super lugar!! muito grande o ideal e explorar ...,50,NaN,NaN
2018-09-01,Great public park.,The pagoda in the middle with the beer garden ...,50,"Boston, MA, United States",NaN
2018-09-01,Balade en famille,"Une belle découverte, un parc immense, et le p...",50,"Papeete, French Polynesia",NaN
2018-09-01,Imperdible,"El jardín es muy grande, se puede pasar un bue...",50,NaN,NaN
2018-08-01,Роскошные ландшафты и пивной угар!),Несомненно Английский сад Мюнхена следует отне...,50,"Moscow, Russia",NaN

In [ ]:
plt.rc("figure")
visitors_by_country['visit'].plot(kind='barh', color='grey')
sns.despine()
plt.title('Number of unique visitors by countries', loc='left', size=17)
plt.legend("")
plt.ylabel("")

In [ ]:
type_of_visitors

In [ ]:
plt.rc("figure", figsize=(8, 7))
type_of_visitors.plot(kind='barh', color='grey')
sns.despine()
plt.title('Attraction by type of visit', loc='left', size=17)
plt.legend("")
plt.ylabel("")

In [ ]:
def clustering_preprocessing(dataframe):
    df = dataframe.copy()
    df['date'] = df['date'].replace({'Erlebnisdatum: ': ''}, regex=True)
    df['visit'] = df['visit'].replace({'Reiseart: ': ''}, regex=True)
    df[['city', 'country']] = df['visitor_origin'].str.split(',', expand=True, n=2)
    df = pd.get_dummies(df, columns=["visit", "country"])
    df = df.drop(['rating'], axis=1)
    return df

In [ ]:
data

In [23]:
from numpy import unique
from numpy import where
from sklearn.datasets import make_classification
from sklearn.cluster import KMeans
from matplotlib import pyplot

In [24]:
model = KMeans(n_clusters=3)

In [ ]:
model.fit()

In [ ]:
yhat = model.predict(data)
# retrieve unique clusters
clusters = unique(yhat)

In [ ]:
pyplot.scatter()

In [ ]:
y = KMeans.predict(data)
data['cluster'] = y
pandas.tools.plotting.parallel_coordinates(data, 'cluster')

In [29]:
kmeans = KMeans(n_clusters=3)

y = kmeans.fit_predict(data)
data['Cluster'] = y

print(data.head())

                  Traveled on business  Traveled solo  Traveled with friends  \
attraction_name
Allianz Arena                 0.044271       0.072917               0.239583
Alte_Pinakothek               0.039130       0.195652               0.204348
BMW Museum                    0.072100       0.115987               0.216301
Deutsches_Museum              0.028777       0.071942               0.179856
English Garden                0.014286       0.097143               0.205714

                  Traveled as a couple  Traveled with family  \
attraction_name
Allianz Arena                 0.244792              0.398438
Alte_Pinakothek               0.365217              0.195652
BMW Museum                    0.366771              0.228840
Deutsches_Museum              0.258993              0.460432
English Garden                0.408571              0.274286

                  visitors_from_munich  visitors_outside_munich  \
attraction_name
Allianz Arena                 0.046316                 0.147368
Alte_Pinakothek               0.083916                 0.118881
BMW Museum                    0.043038                 0.027848
Deutsches_Museum              0.079070                 0.186047
English Garden                0.077863                 0.119084

                  visitors_outside_eu  visitors_from_eu  Cluster
attraction_name
Allianz Arena                0.376842          0.429474        2
Alte_Pinakothek              0.496503          0.300699        1
BMW Museum                   0.612658          0.316456        0
Deutsches_Museum             0.348837          0.386047        2
English Garden               0.416794          0.386260        2

In [30]:
data

,Traveled on business,Traveled solo,Traveled with friends,Traveled as a couple,Traveled with family,visitors_from_munich,visitors_outside_munich,visitors_outside_eu,visitors_from_eu,Cluster
attraction_name,,,,,,,,,,
Allianz Arena,0.044271,0.072917,0.239583,0.244792,0.398438,0.046316,0.147368,0.376842,0.429474,2
Alte_Pinakothek,0.039130,0.195652,0.204348,0.365217,0.195652,0.083916,0.118881,0.496503,0.300699,1
BMW Museum,0.072100,0.115987,0.216301,0.366771,0.228840,0.043038,0.027848,0.612658,0.316456,0
Deutsches_Museum,0.028777,0.071942,0.179856,0.258993,0.460432,0.079070,0.186047,0.348837,0.386047,2
English Garden,0.014286,0.097143,0.205714,0.408571,0.274286,0.077863,0.119084,0.416794,0.386260,2
Marienplatz,0.065401,0.088608,0.223629,0.405063,0.217300,0.033632,0.073991,0.528027,0.364350,1
Munich Residenz,0.017751,0.100592,0.198225,0.449704,0.233728,0.031513,0.067227,0.483193,0.418067,1
New_Town_Hall,0.015152,0.196970,0.196970,0.363636,0.227273,0.010204,0.061224,0.556122,0.372449,0
Nymphenburg Palace,0.015625,0.112500,0.196875,0.431250,0.243750,0.048626,0.080338,0.511628,0.359408,1
Olympiapark,0.034014,0.085034,0.200680,0.387755,0.292517,0.040431,0.156334,0.423181,0.380054,2
St,0.017699,0.150442,0.141593,0.433628,0.256637,0.024510,0.053922,0.583333,0.338235,0
Viktualienmarkt,0.030769,0.102564,0.205128,0.451282,0.210256,0.030405,0.131757,0.489865,0.347973,1